* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.1rem;
}

::-webkit-scrollbar:active {
  opacity: 0.4;
}
/* #ffb566,
#ffcc99 
*/
::-webkit-scrollbar-track {
  background: linear-gradient(#f5dcc2, white, #f5dcc2);
}

::-webkit-scrollbar-thumb {
  background: #663500;
  border-radius: 0.3rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Neuton", serif;
}

h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
/* h4 {
}
h5 {
}
h6 {
} */
p {
  font-size: 1.2rem;
}
/* input[text] {
}
input[textarea] {
} */

@media screen and (min-width: 598px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  /* h4 {
  }
  h5 {
  } */
  p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1022px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3.08rem;
  }
  h3 {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 2.4rem;
    /* background-blend-mode: ; */
  }
  h5 {
    font-size: 2.1rem;
  }
  p {
    font-size: 1.34rem;
  }
}

@media (hover: none), (pointer: coarse) {
  .cursor {
    display: none !important;
  }
}
